# Bài tập thực hành 1.3.3: Tìm hiểu và sử dụng SweetViz trên dữ liệu Marketing Campaign

# Import thư viện cần thiết

In [1]:
import pandas as pd  # Để đọc và xử lý dữ liệu
import sweetviz as sv  # Thư viện SweetViz

# Bước 1: Đọc dữ liệu từ file CSV
# Giả sử file marketing_campaign.csv nằm cùng thư mục với notebook

In [2]:
marketing_data = pd.read_csv("marketing_campaign.csv", sep="\t")  # Đọc dữ liệu từ file CSV

# Bước 2: Xử lý cơ bản dữ liệu (xử lý missing values nếu có)
# Ví dụ: Điền giá trị thiếu ở cột Income bằng median (để tránh bias)

In [3]:
if marketing_data["Income"].isnull().sum() > 0:
    marketing_data["Income"] = marketing_data["Income"].fillna(marketing_data["Income"].median())

# Hiển thị info cơ bản để kiểm tra
print("Kích thước dữ liệu:", marketing_data.shape)
print("Thông tin cột:", marketing_data.info())
print("5 hàng đầu tiên:\n", marketing_data.head())

Kích thước dữ liệu: (2240, 29)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB
Thông tin cột: None
5 hàng đầu tiên:
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04-09-2012       58       635  ...                  7             0
1  08-03-2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3  10-02-2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

# Bước 3: Tạo báo cáo SweetViz
# Tạo report cho toàn bộ dataset (không so sánh)

In [4]:
report = sv.analyze([marketing_data, "Marketing Campaign"])  # [dataset, tên report]

                                             |          | [  0%]   00:00 -> (? left)

# Bước 4: Xuất báo cáo ra file HTML
# File sẽ được lưu trong thư mục hiện tại, mở bằng browser để xem

In [5]:
report.show_html("sweetviz_marketing_report.html")

Report sweetviz_marketing_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

 Chú thích: 
 - sv.analyze() tự động phân tích tất cả cột (num, cat, date).
 - Nếu muốn so sánh (ví dụ: nhóm Response=1 vs Response=0):
   target = marketing_data[marketing_data["Response"] == 1]
   comparison = marketing_data[marketing_data["Response"] == 0]
   report = sv.compare([target, "Response=1"], [comparison, "Response=0"])
   report.show_html("sweetviz_comparison.html")

# Bài tập thực hành 1.3.4: Tìm hiểu và sử dụng AutoViz trên dữ liệu Marketing Campaign

# Import thư viện cần thiết

In [6]:
import pandas as pd  # Để đọc và xử lý dữ liệu
from autoviz.AutoViz_Class import AutoViz_Class # Thư viện AutoViz

Imported v0.1.905. Please call AutoViz in this sequence:
    AV = AutoViz_Class()
    %matplotlib inline
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)

# Bước 1: Đọc dữ liệu từ file CSV

# Giả sử file marketing_campaign.csv nằm cùng thư mục

In [7]:
marketing_data = pd.read_csv("marketing_campaign.csv", sep="\t")  # Đọc dữ liệu từ file CSV

# Bước 2: Xử lý cơ bản dữ liệu (tương tự SweetViz)

In [8]:
if marketing_data["Income"].isnull().sum() > 0:
    marketing_data["Income"] = marketing_data["Income"].fillna(marketing_data["Income"].median())

# Hiển thị info cơ bản để kiểm tra

In [9]:
print("Kích thước dữ liệu:", marketing_data.shape)
print("Thông tin cột:", marketing_data.info())
print("5 hàng đầu tiên:\n", marketing_data.head())

Kích thước dữ liệu: (2240, 29)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB
Thông tin cột: None
5 hàng đầu tiên:
     ID   Year_Birth  Education  Marital_Status  Income   Kidhome  Teenhome  \
0  5524     1957     Graduation      Single     58138.0     0         0
1  2174     1954     Graduation      Single     46344.0     1         1
2  4141     1965     Graduation    Together     71613.0     0         0
3  6182     1984     Graduation    Together     26646.0     1         0
4  5324     1981            PhD     Married     58293.0     1         0

  Dt_Customer  Recency  MntWines  MntFruits  MntMeatProducts  MntFishProducts  \
0  04-09-2012    58        635       88            546              172
1  08-03-2014    38         11        1              6                2
2  21-08-2013    26        426       49            127              111
3  10-02-2014    26         11        4             20               10
4  19-01-2014    94        173       43            118               46

   MntSweetProducts  MntGoldProds  NumDealsPurchases  NumWebPurchases  \
0         88              88               3                 8
1          1               6               2                 1
2         21              42               1                 8
3          3               5               2                 2
4         27              15               5                 5

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  AcceptedCmp3  \
0          10                   4                  7                0
1           1                   2                  5                0
2           2                  10                  4                0
3           0                   4                  6                0
4           3                   6                  5                0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0        0             0             0             0           0
1        0             0             0             0           0
2        0             0             0             0           0
3        0             0             0             0           0
4        0             0             0             0           0

   Z_CostContact  Z_Revenue  Response
0        3           11          1
1        3           11          0
2        3           11          0
3        3           11          0
4        3           11          0

# Bước 3: Tạo biểu đồ AutoViz
# Sử dụng hàm AutoViz để tự động vẽ (verbose=1 để hiển thị tiến trình)

In [10]:
viz = AutoViz_Class()

# Tham số: datapath (file path), max_cols_analyzed=10 (giới hạn cột để tránh overload), max_rows_analyzed=10000

In [11]:
df = viz.AutoViz(
    filename="marketing_campaign.csv",
    sep="\t",                # ⚠ Nếu file gốc phân tách bằng tab thì để "\t", 
                             # nếu là CSV chuẩn thì để ",".
    depVar="", 
    dfte=None,
    header=0, 
    verbose=1, 
    lowess=False,
    chart_format="svg",
    max_rows_analyzed=10000,
    max_cols_analyzed=10, 
    save_plot_dir=None
)

Shape of your Data Set loaded: (2240, 29)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  1
    Number of Integer-Categorical Columns =  15
    Number of String-Categorical Columns =  2
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  7
    Number of Discrete String Columns =  1
    Number of NLP String Columns =  0
    Number of Date Time Columns =  0
    Number of ID Columns =  1
    Number of Columns to Delete =  2
    29 Predictors classified...
        3 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['ID', 'Z_CostContact', 'Z_Revenue']
1 numeric variables in data exceeds limit, taking top 10 variables
    List of variables selected: ['Income']
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\cmudict.zip.
[nltk_data]    | Downloading package gazetteers to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\gazetteers.zip.
[nltk_data]    | Downloading package genesis to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\genesis.zip.
[nltk_data]    | Downloading package gutenberg to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\gutenberg.zip.
[nltk_data]    | Downloading package inaugural to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\movie_reviews.zip.
[nltk_data]    | Downloading package names to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\names.zip.
[nltk_data]    | Downloading package shakespeare to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\shakespeare.zip.
[nltk_data]    | Downloading package stopwords to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\stopwords.zip.
[nltk_data]    | Downloading package treebank to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\treebank.zip.
[nltk_data]    | Downloading package twitter_samples to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\twitter_samples.zip.
[nltk_data]    | Downloading package omw to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    | Downloading package omw-1.4 to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    | Downloading package wordnet to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    | Downloading package wordnet2021 to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    | Downloading package wordnet31 to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    | Downloading package wordnet_ic to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\wordnet_ic.zip.
[nltk_data]    | Downloading package words to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\words.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\Akama Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping chunkers\maxent_ne_chunker.zip.
[nltk_data]    | Downloading package punkt to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping tokenizers\punkt.zip.
[nltk_data]    | Downloading package snowball_data to C:\Users\Akama
[nltk_data]    |     Asumi\AppData\Roaming\nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\Akama Asumi\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping taggers\averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection popular

Could not draw wordcloud plot for Dt_Customer.
Looks like you are missing some required data for this feature.

To download the necessary data, simply run

    python -m textblob.download_corpora

or use the NLTK downloader to download the missing data: http://nltk.org/data.html
If this doesn't fix the problem, file an issue at https://github.com/sloria/TextBlob/issues.

All Plots done
Time to run AutoViz = 67 seconds

 ###################### AUTO VISUALIZATION Completed ########################

 Chú thích:
 - AutoViz đọc trực tiếp từ file CSV, không cần load vào DataFrame.
 - Nếu muốn dùng DataFrame: viz.AutoViz(None, dfte=marketing_data, max_cols_analyzed=10)
 - Kết quả: Hiển thị inline trong notebook (nhiều subplot).
 - Tùy chỉnh: Thêm chart_type='Line' để chỉ vẽ line chart, hoặc depVar='Income' để focus vào biến phụ thuộc.